<div *ngIf="selected">
  <app-genre-detail [genreDetail]="selectedGenre"></app-genre-detail>
</div>


<div class="container-fluid main-container">
  <div class="row">
    <div class="col mb-2" *ngFor="let genre of genres">
      <div class="card p-2 main-container" style="width: 15rem; height: 20rem">
        <div class="card-img-overlay card-style">
          <img
            class="card-img-top"
            src="{{ genre.movies[0]?.poster }}"
            alt="{{ genre.type }}"
          />
          <div class="centered-text" (click)="onSelected(genre)">
            {{ genre.type }}
          </div>
        </div>
        <div class="card-body">
          <a class="card-link" >Listar películas</a>
        </div>
      </div>
    </div>
  </div>
</div>