<div class="main-container">
  <div class="card main-container2">
    <div class="row no-gutters">
      <div class="col-3" style="background: url('{{movieDetail.poster}}') no-repeat center; background-size: cover;">
      </div>
      <div class="col-9">
        <div class="card-body">
          <h5 class="card-title">Peliculas - {{movieDetail.title}}</h5>
          <h5 class="card-title">Duración: {{movieDetail.duration}} horas</h5>
          <h5 class="card-title">Pais: {{movieDetail.country}}</h5>
          <h5 class="card-title">Fecha de estreno: {{movieDetail.releaseDate}}</h5>
          <h5 class="card-title">Popularidad: {{movieDetail.popularity}}</h5>
        </div>
      </div>
    </div>
  </div>
  

</div>